@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



html,
body {
    font-family: 'Archivo', sans-serif;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 0.4em;
    border-radius: 50vh;
    cursor: pointer;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: #45B8EA;
    outline: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hidden {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* CSS for "Show" class */
.Show {
    opacity: 1; 
    transform: translateX(0); 
    transition: opacity 0.3s ease-in-out; 
    overflow: hidden;
  }
  
  /* CSS for "hidden" class */
  .hide {
    opacity: 0; 
    transform: translateX(-100%); 
    transition: opacity 0.3s ease-in-out; 
  }